[program:newsbeuter]
command=gunicorn newsbeuter_spread.app:app -b {{ newsbeuter_spread_host }}:{{ newsbeuter_spread_port }}
user={{ newsbeuter_spread_user }}
autostart=true
autorestart=true
redirect_stderr=True
